.center-y{
    position: relative;
    top:50%;
    transform: translateX(-50%);
}
.center-x{
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
#slider-container{
    width: 100%;
    height: 480px;
    position: relative;
    overflow: hidden;
}
.slide{
    height: 100%;
    width: 100%;
    position: absolute;
}
.img-slide{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-arrow{
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
}
#arrow-prev{
    left: 20px;
}
#arrow-next{
    right: 20px;
}
#dot-wrapper{
    display: flex;
    position: absolute;
    bottom: 30px;
}
.dot-nav{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    cursor: pointer;
    margin: 0 8px;
    border: 2px solid #d6d6d6;
}
.dot-nav:hover{
    background-color: #d6d6d6;
}
.active-dot{
    background-color: #d6d6d6;
}
.fade{
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}
